.block{
    background: #fafafa none repeat scroll 0 0;
    border: 1px solid #e1e8ed;
    border-radius: 5px;
    display: block;
    margin-bottom: 30px;
    padding: 15px 20px 20px;
    position: relative;
    width: 100%;
    z-index: 9;
    max-width: 284px;
    min-height: 244px;
}


.whitish .bg-block{
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.whitish img{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}

.whitish::before{
    background:  rgba(255, 255, 255, .7);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

time{
    color: #088dcd;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date time{
    color: #3e3f5e;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    max-width: 90%;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.9);
}

.date-time{
    position: relative;
    z-index: 3;
    margin-top: 60px;
}
