.block-title{
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
    vertical-align: middle;
    width: 100%;
    position: relative;
}

.column{
    padding: 0 10px;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.column .block{
    min-height: 244px;
    max-width: 284px;
}